body {
  height: 125vh;
  /* background-image: url("https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg"); */
  background-color: rgb(35, 35, 48);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  margin-left: 75px;
  margin-right: 75px;
}

main {
  color: white;
  margin-top: 80px;
  padding: 200px;
}
main h1 {
  color: rgb(147, 147, 216);
}

header {
  background-color: rgb(35, 35, 48);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  margin-left: 75px;
  margin-right: 75px;
}

header ul {
  display: flex;
  column-gap: 40px;
}

header img {
  height: 80px;
  margin-left: 75px;
}

header ul {
  list-style: none;
}

header ul a {
  text-decoration: none;
  color: white;
}

/* ul {
  display: flex;
} */
